<div class="anim">
<h3>Animals in the bank</h3>
<table>
    <tr>
        <td><img src="/assets/images/rabbit-svgrepo-com.svg"></td>
        <td><img src="/assets/images/sheep-svgrepo-com.svg"></td>
        <td><img src="/assets/images/pig-svgrepo-com.svg"></td>
        <td><img src="/assets/images/cow-svgrepo-com.svg"></td>
        <td><img src="/assets/images/horse-svgrepo-com.svg"></td>
        <td><img src="/assets/images/small-dog-svgrepo-com.svg"></td>
        <td><img src="/assets/images/big-dog-svgrepo-com.svg"></td>

    </tr>
    <tr>
      <td>{{this.api.bankrabbits}}</td>
      <td>{{this.api.banksheeps}}</td>
      <td>{{this.api.bankpigs}}</td>
      <td>{{this.api.bankcows}}</td>
      <td>{{this.api.bankhorses}}</td>
      <td>{{this.api.banksmallDogs}}</td>
      <td>{{this.api.banklargeDogs}}</td>
    </tr>
  </table> 
</div>
