<div class="anim">
<h3>Your Animals</h3>
<table>
    <tr>
        <td><img src="/assets/images/rabbit-svgrepo-com.svg"></td>
        <td><img src="/assets/images/sheep-svgrepo-com.svg"></td>
        <td><img src="/assets/images/pig-svgrepo-com.svg"></td>
        <td><img src="/assets/images/cow-svgrepo-com.svg"></td>
        <td><img src="/assets/images/horse-svgrepo-com.svg"></td>
        <td><img src="/assets/images/small-dog-svgrepo-com.svg"></td>
        <td><img src="/assets/images/big-dog-svgrepo-com.svg"></td>

    </tr>
    <tr>
      <td>{{this.api.rabbits}}</td>
      <td>{{this.api.sheeps}}</td>
      <td>{{this.api.pigs}}</td>
      <td>{{this.api.cows}}</td>
      <td>{{this.api.horses}}</td>
      <td>{{this.api.smallDogs}}</td>
      <td>{{this.api.largeDogs}}</td>
    </tr>
  </table>
</div>